{
  "openapi": "3.1.0",
  "info": {
    "title": "FilesHub API",
    "version": "1.0.0",
    "summary": "Zero-cost file storage, email sending, and developer utilities over HTTP.",
    "description": "FilesHub is a file-storage and developer-utility API. Upload files and get a stable public URL, send transactional email from verified domains, run background jobs, and call 40+ utility groups — all authenticated with a per-project X-API-Key header. This spec covers the core integration surface (objects, emails, templates, schedules, jobs, version/health). The full list of stateless developer utilities is summarized at https://fileshub-docs.zaions.com/api/utilities-index. Docs: https://fileshub-docs.zaions.com.",
    "contact": {
      "name": "Ahsan Mahmood",
      "url": "https://aoneahsan.com",
      "email": "aoneahsan@gmail.com"
    },
    "license": {
      "name": "Proprietary (docs MIT)",
      "url": "https://fileshub-docs.zaions.com/privacy"
    }
  },
  "servers": [
    {
      "url": "https://fileshub.zaions.com/api/v1",
      "description": "Versioned API (objects, emails, jobs, schedules, templates)"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Objects",
      "description": "File upload, download, list, delete"
    },
    {
      "name": "Emails",
      "description": "Send email, manage templates and recurring schedules"
    },
    {
      "name": "Jobs",
      "description": "Poll queued operations"
    },
    {
      "name": "Status",
      "description": "Public health and deploy-version endpoints (no auth, at /api not /api/v1)"
    },
    {
      "name": "Management API",
      "description": "Account-wide control plane: manage projects, API keys and origin restrictions with an fh_pat_ access token."
    }
  ],
  "paths": {
    "/objects": {
      "post": {
        "tags": [
          "Objects"
        ],
        "summary": "Upload an object",
        "description": "Upload a multipart file. Returns 201 with the object's ULID, public URL, and metadata.",
        "operationId": "uploadObject",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AndroidCert"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to store (max upload size configurable, default 10 MB)."
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ],
                    "description": "Access control. Omitted => private. Integrations send public."
                  },
                  "expires_in_days": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650,
                    "description": "Auto-delete this many days from now."
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Auto-delete at this absolute time (wins over expires_in_days)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredObject"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "Objects"
        ],
        "summary": "List objects",
        "operationId": "listObjects",
        "parameters": [
          {
            "name": "visibility",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AndroidCert"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StoredObjectListItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/objects/{publicId}": {
      "parameters": [
        {
          "name": "publicId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The object's ULID."
        }
      ],
      "get": {
        "tags": [
          "Objects"
        ],
        "summary": "Download or view an object",
        "description": "Streams the file. Public objects need no key; private objects require a read key from the same project.",
        "operationId": "getObject",
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "The file stream.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Objects"
        ],
        "summary": "Delete an object",
        "operationId": "deleteObject",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AndroidCert"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/emails/send": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Send an email",
        "description": "Send one transactional email (raw or template). Queued by default (202 + job_id); pass queue=false for a synchronous 201.",
        "operationId": "sendEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SendEmailRaw"
                  },
                  {
                    "$ref": "#/components/schemas/SendEmailTemplate"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSendResult"
                }
              }
            }
          },
          "201": {
            "description": "Sent synchronously or scheduled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSendResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Daily sending quota exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Requested domain temporarily without capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/templates": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "List email templates",
        "operationId": "listEmailTemplates",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailTemplate"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Create an email template",
        "description": "Requires the write + email_template scopes.",
        "operationId": "createEmailTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/emails/templates/{slug}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Immutable template slug."
        }
      ],
      "patch": {
        "tags": [
          "Emails"
        ],
        "summary": "Update an email template",
        "operationId": "updateEmailTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "summary": "Delete an email template",
        "operationId": "deleteEmailTemplate",
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/email-schedules": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "List email schedules",
        "operationId": "listEmailSchedules",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailSchedule"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Create an email schedule",
        "operationId": "createEmailSchedule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailScheduleCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSchedule"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/email-schedules/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Schedule ULID."
        }
      ],
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "Show an email schedule",
        "operationId": "getEmailSchedule",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSchedule"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Emails"
        ],
        "summary": "Update / pause / resume a schedule",
        "description": "Send is_active=false to pause, true to resume; or update any create field.",
        "operationId": "updateEmailSchedule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailScheduleUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSchedule"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "summary": "Delete a schedule",
        "operationId": "deleteEmailSchedule",
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/email-schedules/{id}/run": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Run a schedule now",
        "operationId": "runEmailSchedule",
        "description": "Send this schedule's run immediately, off-cadence.",
        "responses": {
          "202": {
            "description": "Run queued."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List jobs",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "parameters": [
        {
          "name": "jobId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Job ULID."
        }
      ],
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get job status",
        "operationId": "getJob",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Job"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/health": {
      "servers": [
        {
          "url": "https://fileshub.zaions.com/api",
          "description": "Root API (health/version live here, not under /api/v1)"
        }
      ],
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Health check",
        "operationId": "health",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "servers": [
        {
          "url": "https://fileshub.zaions.com/api",
          "description": "Root API (health/version live here, not under /api/v1)"
        }
      ],
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Deploy-version marker",
        "operationId": "version",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backend_version": {
                      "type": "string",
                      "example": "2026.07.14.3"
                    },
                    "env": {
                      "type": "string",
                      "example": "production"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/token": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Introspect the access token",
        "description": "Confirm the token works and learn its scope. The intended first call.",
        "operationId": "introspectToken",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccessTokenIntrospection"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List projects",
        "description": "Projects this token may manage. Supports ?q= (name/slug), ?status=, pagination.",
        "operationId": "listProjects",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectPublic"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Create a project",
        "description": "Create a new project. The slug is generated from the name when omitted.",
        "operationId": "createProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectPublic"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "slug": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Get a project",
        "description": "Fetch one project by id, public_id, or slug (includes a summary api_keys list).",
        "operationId": "getProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectPublic"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ]
      },
      "patch": {
        "tags": [
          "Management API"
        ],
        "summary": "Update a project",
        "description": "Update name, slug, status, or notes.",
        "operationId": "updateProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectPublic"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Management API"
        ],
        "summary": "Delete a project",
        "description": "Delete a project; cascades its api keys, origins, stored objects and audit logs.",
        "operationId": "deleteProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ]
      }
    },
    "/projects/{project}/api-keys": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List API keys",
        "description": "List a project's API keys (safe representation — no secrets).",
        "operationId": "listApiKeys",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeySafe"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ]
      },
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Create an API key",
        "description": "Create a key and return its plaintext once, flat under data. Every omitted boolean defaults to false.",
        "operationId": "createApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created key with secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeyWithSecret"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "can_read": {
                    "type": "boolean"
                  },
                  "can_write": {
                    "type": "boolean"
                  },
                  "can_send_emails": {
                    "type": "boolean"
                  },
                  "restricted": {
                    "type": "boolean"
                  },
                  "allow_no_origin": {
                    "type": "boolean",
                    "description": "Restricted keys only: let through requests that carry no Origin and no X-App-Id, so a backend/Worker/CLI/Flutter consumer can use a restricted key. Requests that DO send an Origin are still matched against the allowlist."
                  },
                  "email_daily_limit": {
                    "type": "integer",
                    "nullable": true
                  },
                  "rate_limit_per_minute": {
                    "type": "integer",
                    "nullable": true
                  },
                  "permissions": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "boolean"
                    }
                  },
                  "is_test": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/api-keys/{apiKey}": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Get an API key",
        "description": "Fetch one key (safe representation).",
        "operationId": "getApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeySafe"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      },
      "patch": {
        "tags": [
          "Management API"
        ],
        "summary": "Update an API key",
        "description": "Update name, permissions, restricted, limits, or is_active.",
        "operationId": "updateApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeySafe"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "can_read": {
                    "type": "boolean"
                  },
                  "can_write": {
                    "type": "boolean"
                  },
                  "can_send_emails": {
                    "type": "boolean"
                  },
                  "restricted": {
                    "type": "boolean"
                  },
                  "allow_no_origin": {
                    "type": "boolean",
                    "description": "Restricted keys only: let through requests that carry no Origin and no X-App-Id, so a backend/Worker/CLI/Flutter consumer can use a restricted key. Requests that DO send an Origin are still matched against the allowlist."
                  },
                  "email_daily_limit": {
                    "type": "integer",
                    "nullable": true
                  },
                  "rate_limit_per_minute": {
                    "type": "integer",
                    "nullable": true
                  },
                  "permissions": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "boolean"
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Management API"
        ],
        "summary": "Delete an API key",
        "description": "Delete a key; its origins cascade.",
        "operationId": "deleteApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      }
    },
    "/projects/{project}/api-keys/{apiKey}/rotate": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Rotate an API key",
        "description": "Issue a new secret; the old key stops working immediately. Returns the new plaintext_key.",
        "operationId": "rotateApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Rotated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeyWithSecret"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      }
    },
    "/projects/{project}/api-keys/{apiKey}/reveal": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Reveal an API key",
        "description": "Re-read the stored plaintext. 409 PLAINTEXT_UNAVAILABLE for legacy keys — rotate instead.",
        "operationId": "revealApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Plaintext",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "plaintext_key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ManagementError"
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      }
    },
    "/projects/{project}/api-keys/{apiKey}/origins": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List origins",
        "description": "List an API key's allowed origins.",
        "operationId": "listOrigins",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Origins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OriginPublic"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      },
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Add an origin",
        "description": "Add an allowed origin. Domains are validated against the scheme+port policy and stored canonically (example.com -> https://example.com). Browser extensions use type=domain with an extension scheme, where the host is the extension id: chrome-extension://<id> (also moz-extension://, safari-web-extension://), no port and no wildcard. Origins configured platform-wide by an administrator (global origins) also apply to every restricted key and are not listed here.",
        "operationId": "createOrigin",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created origin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OriginPublic"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ManagementError"
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "value"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "domain",
                      "android",
                      "ios"
                    ]
                  },
                  "value": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "sha256_fingerprints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Android only."
                  },
                  "sha1_fingerprints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Android only."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/api-keys/{apiKey}/origins/{origin}": {
      "patch": {
        "tags": [
          "Management API"
        ],
        "summary": "Update an origin",
        "description": "Change value and/or fingerprints. Type is immutable.",
        "operationId": "updateOrigin",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated origin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OriginPublic"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ManagementError"
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          },
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Origin id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string"
                  },
                  "sha256_fingerprints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sha1_fingerprints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Management API"
        ],
        "summary": "Delete an origin",
        "description": "Remove one origin.",
        "operationId": "deleteOrigin",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          },
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Origin id."
          }
        ]
      }
    },
    "/api-keys/lookup": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Look up an API key",
        "description": "Reverse-lookup an fh_live_ key: returns its project, safe representation, and origins. 404 if unknown or out of scope.",
        "operationId": "lookupApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Match",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "project": {
                          "$ref": "#/components/schemas/ProjectPublic"
                        },
                        "api_key": {
                          "$ref": "#/components/schemas/ApiKeySafe"
                        },
                        "origins": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OriginPublic"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "example": "fh_live_..."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/supabase-projects": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List registered Supabase projects",
        "description": "Safe summaries (no secret values). Gated by the token's `can_manage_supabase` scope.",
        "operationId": "listSupabaseProjects",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Match on name, url or organization."
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter on the keep-alive flag."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Supabase project summaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupabaseProjectSummary"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/supabase-projects/{supabaseProject}": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Read one Supabase project (no secret values)",
        "description": "Summary plus derived endpoints and non-secret config. `{supabaseProject}` is the numeric id or the project ref. Gated by `can_manage_supabase`.",
        "operationId": "showSupabaseProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "supabaseProject",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric id or project ref."
          }
        ],
        "responses": {
          "200": {
            "description": "Supabase project detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupabaseProjectDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/supabase-projects/{supabaseProject}/reveal": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Reveal a Supabase project's secrets + env blocks",
        "description": "Detail plus every stored secret plus ready-to-paste React/Node/Laravel .env blocks. Recorded on every call. Gated by `can_manage_supabase`.",
        "operationId": "revealSupabaseProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "supabaseProject",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric id or project ref."
          }
        ],
        "responses": {
          "200": {
            "description": "Supabase project with secrets and env blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupabaseProjectReveal"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Per-project API key. Send on every authenticated request."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "fh_pat_",
        "description": "User-level access token (prefix fh_pat_) for the Public Management API. Send as \"Authorization: Bearer fh_pat_...\". Server / CLI only — never a browser. The \"X-Access-Token\" header is accepted as a fallback."
      }
    },
    "parameters": {
      "AppId": {
        "name": "X-App-Id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Required only for app-restricted keys: the Android package or iOS bundle id (X-Android-Package is an accepted alias)."
      },
      "AndroidCert": {
        "name": "X-Android-Cert",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Android signing-cert fingerprint (SHA-256 or SHA-1). Required when the key's android origin pins certificate fingerprints. See https://fileshub-docs.zaions.com/getting-started/api-key-restrictions."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid X-API-Key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Key lacks the required scope, or origin/app not allowed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ManagementError": {
        "description": "Error envelope",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ManagementError"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "StoredObject": {
        "type": "object",
        "properties": {
          "public_id": {
            "type": "string",
            "description": "ULID."
          },
          "project_id": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "mime_type": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "StoredObjectListItem": {
        "type": "object",
        "properties": {
          "public_id": {
            "type": "string"
          },
          "original_filename": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SendEmailCommon": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "format": "email"
          },
          "to_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "cc": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "bcc": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "reply_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "from_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "attachments": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string",
              "description": "Pre-uploaded FilesHub object ULID (26 chars)."
            }
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aoneahsan.com",
              "zaions.com",
              "trizlink.com",
              null
            ],
            "description": "Verified sending domain. Omitted => admin default with fallback."
          },
          "queue": {
            "type": "boolean",
            "default": true,
            "description": "true = queued (202 + job); false = synchronous (201)."
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Send once at a future time."
          }
        }
      },
      "SendEmailRaw": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SendEmailCommon"
          },
          {
            "type": "object",
            "required": [
              "to",
              "subject"
            ],
            "properties": {
              "subject": {
                "type": "string",
                "maxLength": 500
              },
              "body_html": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Required unless body_text is given."
              },
              "body_text": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Required unless body_html is given."
              }
            }
          }
        ]
      },
      "SendEmailTemplate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SendEmailCommon"
          },
          {
            "type": "object",
            "required": [
              "to",
              "template"
            ],
            "properties": {
              "template": {
                "type": "string",
                "description": "Template slug."
              },
              "variables": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "EmailSendResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Email log ULID."
              },
              "status": {
                "type": "string",
                "description": "queued | sent | ..."
              },
              "from_email": {
                "type": "string"
              },
              "domain": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "job_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "status_url": {
                "type": "string",
                "format": "uri"
              },
              "scheduled_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "sent_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            }
          }
        }
      },
      "EmailTemplate": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "EmailTemplateCreate": {
        "type": "object",
        "required": [
          "name",
          "category",
          "subject"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "slug": {
            "type": "string",
            "description": "Immutable once set; auto-generated from name if omitted."
          },
          "category": {
            "type": "string"
          },
          "subject": {
            "type": "string",
            "maxLength": 500
          },
          "body_html": {
            "type": [
              "string",
              "null"
            ],
            "description": "Required unless body_text is given."
          },
          "body_text": {
            "type": [
              "string",
              "null"
            ],
            "description": "Required unless body_html is given."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                }
              }
            }
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "EmailTemplateUpdate": {
        "type": "object",
        "description": "Any subset of the create fields except slug (immutable).",
        "properties": {
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "body_html": {
            "type": "string"
          },
          "body_text": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "EmailScheduleCommon": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "recipients": {
            "type": "array",
            "minItems": 1,
            "maxItems": 50,
            "items": {
              "type": "object",
              "required": [
                "email"
              ],
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          },
          "template": {
            "type": [
              "string",
              "null"
            ],
            "description": "Template slug (wins over raw content)."
          },
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "subject": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "body_html": {
            "type": [
              "string",
              "null"
            ]
          },
          "body_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "cc": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "bcc": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "reply_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "from_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aoneahsan.com",
              "zaions.com",
              "trizlink.com",
              null
            ]
          },
          "cron_expression": {
            "type": "string",
            "description": "5-field cron or @hourly/@daily/@weekly/@monthly."
          },
          "timezone": {
            "type": [
              "string",
              "null"
            ],
            "description": "IANA timezone."
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "EmailScheduleCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailScheduleCommon"
          },
          {
            "type": "object",
            "required": [
              "name",
              "recipients",
              "cron_expression"
            ]
          }
        ]
      },
      "EmailScheduleUpdate": {
        "$ref": "#/components/schemas/EmailScheduleCommon"
      },
      "EmailSchedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "cron_expression": {
            "type": "string"
          },
          "timezone": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_active": {
            "type": "boolean"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Job ULID."
          },
          "type": {
            "type": "string",
            "example": "email.send"
          },
          "status": {
            "type": "string",
            "description": "pending | processing | completed | failed"
          },
          "attempts": {
            "type": "integer"
          },
          "result": {
            "type": [
              "object",
              "null"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "queued_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded"
            ]
          },
          "app": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "backend_version": {
            "type": "string"
          },
          "database": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ManagementError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "NOT_FOUND"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "additionalProperties": true,
                "nullable": true
              }
            }
          }
        }
      },
      "ProjectPublic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "public_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ApiKeySafe": {
        "type": "object",
        "description": "API key without the hash or plaintext.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "can_read": {
            "type": "boolean"
          },
          "can_write": {
            "type": "boolean"
          },
          "can_send_emails": {
            "type": "boolean"
          },
          "email_daily_limit": {
            "type": "integer",
            "nullable": true
          },
          "rate_limit_per_minute": {
            "type": "integer",
            "nullable": true
          },
          "permissions": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "restricted": {
            "type": "boolean"
          },
          "allow_no_origin": {
            "type": "boolean",
            "description": "Restricted keys only: allow requests that send no Origin and no X-App-Id (server/CLI/native consumers)."
          },
          "is_active": {
            "type": "boolean"
          },
          "origins_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "OriginPublic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "domain",
              "android",
              "ios"
            ]
          },
          "value": {
            "type": "string",
            "description": "Canonical origin for domains (scheme://host[:port]); package/bundle id for android/ios."
          },
          "sha256_fingerprints": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "sha1_fingerprints": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AccessTokenIntrospection": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "token_prefix": {
            "type": "string"
          },
          "all_projects": {
            "type": "boolean"
          },
          "can_manage_supabase": {
            "type": "boolean",
            "description": "Whether the token may read the Supabase project vault (separate axis from the project scope; off by default)."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "projects": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "public_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ApiKeyWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKeySafe"
          },
          {
            "type": "object",
            "properties": {
              "plaintext_key": {
                "type": "string",
                "description": "The full key. Shown only by create, rotate and reveal."
              }
            }
          }
        ],
        "description": "The key fields flat, plus the plaintext. Create and rotate previously nested this under data.api_key; both are flat as of 2026-07-18."
      },
      "SupabaseProjectSummary": {
        "type": "object",
        "description": "Safe list/summary view of a registered Supabase project. No secret values; `has` flags say which secrets a reveal would return.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "ref": {
            "type": "string",
            "nullable": true,
            "description": "The `<ref>` label of a `<ref>.supabase.co` URL; null for self-hosted/custom-domain."
          },
          "url": {
            "type": "string"
          },
          "organization": {
            "type": "string",
            "nullable": true
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "account_email": {
            "type": "string",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          },
          "keepalive": {
            "type": "object",
            "properties": {
              "last_run_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "last_status": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "ok",
                  "failed",
                  null
                ]
              }
            }
          },
          "has": {
            "type": "object",
            "description": "Presence flags per secret column, tested WITHOUT decrypting.",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "last_revealed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "SupabaseProjectDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SupabaseProjectSummary"
          },
          {
            "type": "object",
            "properties": {
              "notes": {
                "type": "string",
                "nullable": true
              },
              "endpoints": {
                "type": "object",
                "description": "Derived from the project URL, not stored. `realtime`/`dashboard` are null when there is no ref.",
                "properties": {
                  "api": {
                    "type": "string"
                  },
                  "rest": {
                    "type": "string"
                  },
                  "auth": {
                    "type": "string"
                  },
                  "storage": {
                    "type": "string"
                  },
                  "graphql": {
                    "type": "string"
                  },
                  "functions": {
                    "type": "string"
                  },
                  "realtime": {
                    "type": "string",
                    "nullable": true
                  },
                  "dashboard": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "config": {
                "type": "object",
                "description": "Non-secret configuration.",
                "properties": {
                  "publishable_key": {
                    "type": "string",
                    "nullable": true
                  },
                  "legacy_anon_key": {
                    "type": "string",
                    "nullable": true
                  },
                  "database": {
                    "type": "object",
                    "properties": {
                      "host": {
                        "type": "string",
                        "nullable": true
                      },
                      "port": {
                        "type": "integer",
                        "nullable": true
                      },
                      "database": {
[...]
