{
  "openapi": "3.1.0",
  "info": {
    "title": "FilesHub API",
    "version": "1.6.0",
    "summary": "Zero-cost file storage, email sending, and developer utilities over HTTP.",
    "description": "FilesHub is a file-storage and developer-utility API. Upload files and get a stable public URL, send transactional email from verified domains, run background jobs, and call 40+ utility groups \u2014 all authenticated with a per-project X-API-Key header. This spec covers the core integration surface (objects, emails, templates, schedules, jobs, version/health) plus the whole Public Management plane. The full list of stateless developer utilities is summarized at https://fileshub-docs.zaions.com/api/utilities-index. Docs: https://fileshub-docs.zaions.com.\n\nTWO PLANES, TWO ENVELOPES \u2014 do not reuse one parser for both. The v1 data plane answers {\"success\", \"data\"} on email, a FLAT body on POST /objects, and a bare {\"message\"} on error. The Management plane (/api/public/v1, the `Management API` tag) answers {\"data\"} on success and {\"error\": {code, message, details?}} on failure, and never carries `success`.\n\nHOW THIS SPEC IS MAINTAINED: it is written by hand \u2014 nothing generates it from the Laravel routes \u2014 so where it and the running API disagree, THE API IS RIGHT. Verified against the live routes and controllers on 2026-08-04 at backend_version 2026.08.01.2, covering all 33 Management routes. Report a divergence rather than coding around it.\n\nOn a 403 TOKEN_PERMISSION_DENIED, all four gates report details.required_scope as the access token\u2019s own column name (`can_read_vault`, `can_reveal_vault`, `can_manage_supabase`, `can_read_supabase_tokens`) \u2014 live since `2026.08.04.1`, deployed 2026-08-04. Releases before it returned two shorter labels on the Supabase gates (`supabase_projects` / `supabase_tokens`) that matched no column; the enum below accepts all six, so either release works.",
    "contact": {
      "name": "Ahsan Mahmood",
      "url": "https://aoneahsan.com",
      "email": "aoneahsan@gmail.com"
    },
    "license": {
      "name": "Proprietary (docs MIT)",
      "url": "https://fileshub-docs.zaions.com/privacy"
    }
  },
  "servers": [
    {
      "url": "https://fileshub.zaions.com/api/v1",
      "description": "Versioned API (objects, emails, jobs, schedules, templates)"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Objects",
      "description": "File upload, download, list, delete"
    },
    {
      "name": "Emails",
      "description": "Send email, manage templates and recurring schedules"
    },
    {
      "name": "Jobs",
      "description": "Poll queued operations"
    },
    {
      "name": "Status",
      "description": "Public health and deploy-version endpoints (no auth, at /api not /api/v1)"
    },
    {
      "name": "Management API",
      "description": "Account-wide control plane: manage projects, API keys and origin restrictions with an fh_pat_ access token."
    }
  ],
  "paths": {
    "/objects": {
      "post": {
        "tags": [
          "Objects"
        ],
        "summary": "Upload an object",
        "description": "Upload a multipart file. Returns 201 with the object's ULID, public URL, and metadata.",
        "operationId": "uploadObject",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AndroidCert"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to store (max upload size configurable, default 10 MB)."
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ],
                    "description": "Access control. Omitted => private. Integrations send public."
                  },
                  "expires_in_days": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650,
                    "description": "Auto-delete this many days from now."
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Auto-delete at this absolute time (wins over expires_in_days)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredObject"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "Objects"
        ],
        "summary": "List objects",
        "operationId": "listObjects",
        "parameters": [
          {
            "name": "visibility",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AndroidCert"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StoredObjectListItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/objects/{publicId}": {
      "parameters": [
        {
          "name": "publicId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The object's ULID."
        }
      ],
      "get": {
        "tags": [
          "Objects"
        ],
        "summary": "Download or view an object",
        "description": "Streams the file. Public objects need no key; private objects require a read key from the same project.",
        "operationId": "getObject",
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "The file stream.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Objects"
        ],
        "summary": "Delete an object",
        "operationId": "deleteObject",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AndroidCert"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/emails/send": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Send an email",
        "description": "Send one transactional email (raw or template). Queued by default (202 + job_id); pass queue=false for a synchronous 201.",
        "operationId": "sendEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SendEmailRaw"
                  },
                  {
                    "$ref": "#/components/schemas/SendEmailTemplate"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSendResult"
                }
              }
            }
          },
          "201": {
            "description": "Sent synchronously or scheduled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSendResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "description": "Daily sending quota exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Requested domain temporarily without capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/templates": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "List email templates",
        "operationId": "listEmailTemplates",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailTemplate"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Create an email template",
        "description": "Requires the write + email_template scopes.",
        "operationId": "createEmailTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/emails/templates/{slug}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Immutable template slug."
        }
      ],
      "patch": {
        "tags": [
          "Emails"
        ],
        "summary": "Update an email template",
        "operationId": "updateEmailTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "summary": "Delete an email template",
        "operationId": "deleteEmailTemplate",
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/email-schedules": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "List email schedules",
        "operationId": "listEmailSchedules",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailSchedule"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Create an email schedule",
        "operationId": "createEmailSchedule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailScheduleCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSchedule"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/email-schedules/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Schedule ULID."
        }
      ],
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "Show an email schedule",
        "operationId": "getEmailSchedule",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSchedule"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Emails"
        ],
        "summary": "Update / pause / resume a schedule",
        "description": "Send is_active=false to pause, true to resume; or update any create field.",
        "operationId": "updateEmailSchedule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailScheduleUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSchedule"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "summary": "Delete a schedule",
        "operationId": "deleteEmailSchedule",
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/email-schedules/{id}/run": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "Run a schedule now",
        "operationId": "runEmailSchedule",
        "description": "Send this schedule's run immediately, off-cadence.",
        "responses": {
          "202": {
            "description": "Run queued."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List jobs",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "parameters": [
        {
          "name": "jobId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Job ULID."
        }
      ],
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get job status",
        "operationId": "getJob",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Job"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/health": {
      "servers": [
        {
          "url": "https://fileshub.zaions.com/api",
          "description": "Root API (health/version live here, not under /api/v1)"
        }
      ],
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Health check",
        "operationId": "health",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "servers": [
        {
          "url": "https://fileshub.zaions.com/api",
          "description": "Root API (health/version live here, not under /api/v1)"
        }
      ],
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Deploy-version marker",
        "operationId": "version",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backend_version": {
                      "type": "string",
                      "example": "2026.07.14.3"
                    },
                    "env": {
                      "type": "string",
                      "example": "production"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/token": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Introspect the access token",
        "description": "Confirm the token works and learn its scope. The intended first call: it reports the four capability booleans, all off by default, so a 403 later is predictable rather than surprising. Takes no parameters and no body, so 401 and 429 are its only failures.",
        "operationId": "introspectToken",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccessTokenIntrospection"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List projects",
        "description": "Projects this token may manage. Supports ?q= (name/slug), ?status=, pagination.",
        "operationId": "listProjects",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectListItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "message": {
                      "$ref": "#/components/schemas/PaginationMessage"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Create a project",
        "description": "Create a new project. The slug is generated from the name when omitted.",
        "operationId": "createProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectPublic"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "409": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "slug": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255,
                    "pattern": "^[a-z0-9\\-]+$",
                    "description": "Lowercase letters, digits and hyphens only. Omit it to have one generated uniquely from the name; supply one and it is used verbatim, so a duplicate is a 409 SLUG_ALREADY_EXISTS rather than being de-duplicated for you."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 5000
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 5000
                  },
                  "app_identifier": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255,
                    "description": "Reverse-DNS app id. IMMUTABLE once published to a store."
                  },
                  "primary_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255
                  },
                  "repo_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255
                  },
                  "repo_is_public": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "platforms": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    }
                  },
                  "tech_stack": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Get a project",
        "description": "Fetch one project by id, public_id, or slug (includes a summary api_keys list).",
        "operationId": "getProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectWithApiKeys"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ]
      },
      "patch": {
        "tags": [
          "Management API"
        ],
        "summary": "Update a project",
        "description": "Update any of the project's own fields. Send only the keys you are changing; an omitted key is left untouched.",
        "operationId": "updateProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectPublic"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "409": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "slug": {
                    "type": "string",
                    "maxLength": 255,
                    "pattern": "^[a-z0-9\\-]+$",
                    "description": "Lowercase letters, digits and hyphens only. Unlike on create, a null is not accepted here \u2014 omit the key to leave the slug alone. A duplicate is a 409 SLUG_ALREADY_EXISTS."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 5000
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 5000
                  },
                  "app_identifier": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255,
                    "description": "Reverse-DNS app id. IMMUTABLE once published to a store \u2014 do not change it on a shipped app."
                  },
                  "primary_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255
                  },
                  "repo_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255
                  },
                  "repo_is_public": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "platforms": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "description": "Replaces the whole list \u2014 this is not a merge.",
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    }
                  },
                  "tech_stack": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "description": "Replaces the whole list \u2014 this is not a merge.",
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Management API"
        ],
        "summary": "Delete a project",
        "description": "Delete a project. \ud83d\udd34 IRREVERSIBLE, and it destroys the project's ENTIRE CREDENTIAL VAULT: at the database level it cascades api keys, origins, stored objects and audit logs AND project_credentials, project_files, project_links and project_vault_reveals. Since 2026.08.19.1 the response reports all six counts and the call is audited as public_api.project.deleted with those counts in its metadata; before that release `cascade` named only api_keys and stored_objects, so the credentials went unmentioned, and the call left no audit row at all.",
        "operationId": "deleteProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean"
                        },
                        "cascade": {
                          "type": "object",
                          "description": "What went with it. Counted before the delete, so the numbers describe what existed. vault_credentials / vault_files / links / vault_reveals added 2026.08.19.1.",
                          "properties": {
                            "api_keys": {
                              "type": "integer"
                            },
                            "stored_objects": {
                              "type": "integer"
                            },
                            "vault_credentials": {
                              "type": "integer",
                              "description": "Rows in project_credentials \u2014 the project's stored credentials."
                            },
                            "vault_files": {
                              "type": "integer",
                              "description": "Rows in project_files \u2014 google-services.json, keystores, service-account JSON."
                            },
                            "links": {
                              "type": "integer"
                            },
                            "vault_reveals": {
                              "type": "integer",
                              "description": "The append-only reveal trail."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ]
      }
    },
    "/projects/{project}/api-keys": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List API keys",
        "description": "List a project's API keys, newest first (safe representation \u2014 no secrets). PAGINATED: rotating and deleting leaves the old rows in place, so a long-lived project accumulates keys without limit. Loop on meta.has_more rather than assuming one call returned them all.",
        "operationId": "listApiKeys",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeySafe"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "message": {
                      "$ref": "#/components/schemas/PaginationMessage"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            },
            "description": "Clamped to 50, never rejected."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Create an API key",
        "description": "Create a key and return its plaintext once, flat under data. Every omitted boolean defaults to false.",
        "operationId": "createApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created key with secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeyWithSecret"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "can_read": {
                    "type": "boolean"
                  },
                  "can_write": {
                    "type": "boolean"
                  },
                  "can_send_emails": {
                    "type": "boolean"
                  },
                  "restricted": {
                    "type": "boolean"
                  },
                  "allow_no_origin": {
                    "type": "boolean",
                    "description": "Restricted keys only: let through requests that carry no Origin and no X-App-Id, so a backend/Worker/CLI/Flutter consumer can use a restricted key. Requests that DO send an Origin are still matched against the allowlist."
                  },
                  "email_daily_limit": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "rate_limit_per_minute": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "permissions": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Per-service utility permissions. An access token has no such map \u2014 this is an API-key-only field.",
                    "additionalProperties": {
                      "type": "boolean"
                    }
                  },
                  "is_test": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/api-keys/{apiKey}": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Get an API key",
        "description": "Fetch one key (safe representation).",
        "operationId": "getApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeySafe"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      },
      "patch": {
        "tags": [
          "Management API"
        ],
        "summary": "Update an API key",
        "description": "Update name, permissions, restricted, limits, or is_active.",
        "operationId": "updateApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeySafe"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "can_read": {
                    "type": "boolean"
                  },
                  "can_write": {
                    "type": "boolean"
                  },
                  "can_send_emails": {
                    "type": "boolean"
                  },
                  "restricted": {
                    "type": "boolean"
                  },
                  "allow_no_origin": {
                    "type": "boolean",
                    "description": "Restricted keys only: let through requests that carry no Origin and no X-App-Id, so a backend/Worker/CLI/Flutter consumer can use a restricted key. Requests that DO send an Origin are still matched against the allowlist."
                  },
                  "email_daily_limit": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "rate_limit_per_minute": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "permissions": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Replaces the whole map \u2014 this is not a merge.",
                    "additionalProperties": {
                      "type": "boolean"
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Management API"
        ],
        "summary": "Delete an API key",
        "description": "Delete a key; its origins cascade. To stop a key working without losing its record, PATCH is_active:false instead.",
        "operationId": "deleteApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean"
                        },
                        "cascade": {
                          "type": "object",
                          "properties": {
                            "origins": {
                              "type": "integer",
                              "description": "Origin rows removed with the key."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      }
    },
    "/projects/{project}/api-keys/{apiKey}/rotate": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Rotate an API key",
        "description": "Issue a new secret; the old key stops working immediately. Returns the new plaintext_key.",
        "operationId": "rotateApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Rotated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeyWithSecret"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      }
    },
    "/projects/{project}/api-keys/{apiKey}/reveal": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Reveal an API key",
        "description": "Re-read the stored plaintext of a key you already created. Returns ONLY { plaintext_key } \u2014 not the key's other fields; call GET on the key for those. Two distinct causes share a 409 PLAINTEXT_UNAVAILABLE, told apart by details.reason: `not_retained` (the key predates plaintext retention \u2014 nothing is stored) and `undecryptable` (a value IS stored but was encrypted under a different APP_KEY). Rotate in either case.",
        "operationId": "revealApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Plaintext",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "plaintext_key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ManagementError"
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      }
    },
    "/projects/{project}/api-keys/{apiKey}/origins": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List origins",
        "description": "List an API key's allowed origins.",
        "operationId": "listOrigins",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Origins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OriginPublic"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ]
      },
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Add an origin",
        "description": "Add an allowed origin. Domains are validated against the scheme+port policy and stored canonically (example.com -> https://example.com). Browser extensions use type=domain with an extension scheme, where the host is the extension id: chrome-extension://<id> (also moz-extension://, safari-web-extension://), no port and no wildcard. Origins configured platform-wide by an administrator (global origins) also apply to every restricted key and are not listed here \u2014 read them with GET /global-origins and test candidates with POST /global-origins/check before adding, so you do not create a duplicate the key never needed.",
        "operationId": "createOrigin",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created origin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OriginPublic"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ManagementError"
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "value"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "domain",
                      "android",
                      "ios"
                    ]
                  },
                  "value": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "sha256_fingerprints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Android only."
                  },
                  "sha1_fingerprints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Android only."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/api-keys/{apiKey}/origins/{origin}": {
      "patch": {
        "tags": [
          "Management API"
        ],
        "summary": "Update an origin",
        "description": "Change value and/or fingerprints. Type is immutable.",
        "operationId": "updateOrigin",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Updated origin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OriginPublic"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ManagementError"
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          },
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Origin id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string"
                  },
                  "sha256_fingerprints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sha1_fingerprints": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Management API"
        ],
        "summary": "Delete an origin",
        "description": "Remove one origin. Removing the last origin from a restricted key denies every request that sends an Origin header \u2014 unless a platform-wide global origin still covers it.",
        "operationId": "deleteOrigin",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project id, ULID public_id, or slug."
          },
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "API key id."
          },
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Origin id."
          }
        ]
      }
    },
    "/global-origins": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List global origins",
        "description": "Every ACTIVE origin an administrator has registered platform-wide. Each is accepted by every restricted API key in addition to that key's own origins, and never appears in a key's own origin list. Read-only and open to any valid access token; global origins are created and edited only in the dashboard, because a rule that affects every project is an operator decision. Check these before adding an origin to a key, so you do not create a duplicate the key never needed.",
        "operationId": "listGlobalOrigins",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Active global origins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GlobalOriginPublic"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/global-origins/check": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Check whether origins are already covered globally",
        "description": "Ask whether specific origins are already allowed platform-wide, then add only the ones reporting covered=false. Use this instead of comparing the list yourself: matching is not string equality. A wildcard rule https://*.example.com covers its subdomains AND the bare apex, an apex rule https://example.com covers no subdomain at all, and http://localhost:* covers every port. This endpoint runs the same matcher request-time enforcement uses, so its answer cannot disagree with it. Up to 50 candidates per request; verdicts return one per candidate in request order. A value that can never be a legal origin is a verdict (200 with covered=false and a reason), not a request-level error, so one bad candidate does not discard the answers for the rest.",
        "operationId": "checkGlobalOrigins",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "One verdict per candidate, in request order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GlobalOriginCheckResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "origins"
                ],
                "properties": {
                  "origins": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "value"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "domain",
                            "android",
                            "ios"
                          ]
                        },
                        "value": {
                          "type": "string",
                          "maxLength": 255,
                          "description": "The origin to test. A domain may be written bare (example.com); it is canonicalized before matching."
                        },
                        "cert_fingerprint": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "maxLength": 255,
                          "description": "Android only: the signing fingerprint the app sends as X-Android-Cert (colons optional). A global rule that pins certificates cannot report covered without it."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/lookup": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Look up an API key",
        "description": "Reverse-lookup an fh_live_ key: returns its project, safe representation, and origins. 404 if unknown or out of scope.",
        "operationId": "lookupApiKey",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Match",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "project": {
                          "$ref": "#/components/schemas/ProjectPublic"
                        },
                        "api_key": {
                          "$ref": "#/components/schemas/ApiKeySafe"
                        },
                        "origins": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OriginPublic"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "example": "fh_live_..."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/supabase-projects": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List registered Supabase projects",
        "description": "Safe summaries (no secret values). Gated by the token's `can_manage_supabase` scope. \ud83d\udd34 Scoped since 2026.08.19.1: an all_projects token sees everything, a project-scoped token sees only what is linked from a FilesHub project it can manage plus every UNLINKED row, and an out-of-scope row answers 404. Before that release project scope was ignored entirely here.",
        "operationId": "listSupabaseProjects",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Match on name, url or organization."
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter on the keep-alive flag."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Supabase project summaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupabaseProjectSummary"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/supabase-projects/{supabaseProject}": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Read one Supabase project (no secret values)",
        "description": "Summary plus derived endpoints and non-secret config. `{supabaseProject}` is the numeric id or the project ref. Gated by `can_manage_supabase`. Out-of-scope answers 404 since 2026.08.19.1 \u2014 see the list endpoint for the scoping rule.",
        "operationId": "showSupabaseProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "supabaseProject",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric id or project ref."
          }
        ],
        "responses": {
          "200": {
            "description": "Supabase project detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupabaseProjectDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/supabase-projects/{supabaseProject}/reveal": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Reveal a Supabase project's secrets + env blocks",
        "description": "Detail plus every stored secret plus ready-to-paste React/Node/Laravel .env blocks. Recorded on every call. Gated by `can_manage_supabase`. Out-of-scope answers 404 since 2026.08.19.1 \u2014 see the list endpoint for the scoping rule.",
        "operationId": "revealSupabaseProject",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "supabaseProject",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric id or project ref."
          }
        ],
        "responses": {
          "200": {
            "description": "Supabase project with secrets and env blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupabaseProjectReveal"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/supabase-accounts": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "List registered Supabase accounts",
        "description": "Safe summaries \u2014 never the personal access token, only whether one is stored. Gated by the token's `can_read_supabase_tokens` scope. `can_manage_supabase` does NOT grant it \u2014 a personal access token reaches every project the account owns. \ud83d\udd34 Scoped since 2026.08.19.1: an all_projects token sees everything, a project-scoped token sees only what is linked from a FilesHub project it can manage plus every UNLINKED row, and an out-of-scope row answers 404. Before that release project scope was ignored entirely here.",
        "operationId": "listSupabaseAccounts",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Match on email, label or organization."
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupabaseAccountSummary"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/supabase-accounts/{account}": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Show one Supabase account",
        "description": "The account, its dashboard pages and the projects under it. No token value. Gated by the token's `can_read_supabase_tokens` scope. `can_manage_supabase` does NOT grant it \u2014 a personal access token reaches every project the account owns. Out-of-scope answers 404 since 2026.08.19.1 \u2014 see the list endpoint for the scoping rule.",
        "operationId": "showSupabaseAccount",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric id or the account's login email (matched case-insensitively)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupabaseAccountDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/supabase-accounts/{account}/reveal": {
      "post": {
        "tags": [
          "Management API"
        ],
        "summary": "Reveal a Supabase account's personal access token",
        "description": "Returns the sbp_... token plus the SUPABASE_ACCESS_TOKEN env line the Supabase CLI reads. Every call is recorded (token name, IP, user-agent and field NAMES \u2014 never a value). Gated by the token's `can_read_supabase_tokens` scope. `can_manage_supabase` does NOT grant it \u2014 a personal access token reaches every project the account owns. Out-of-scope answers 404 since 2026.08.19.1 \u2014 see the list endpoint for the scoping rule.",
        "operationId": "revealSupabaseAccount",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Numeric id or the account's login email (matched case-insensitively)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupabaseAccountReveal"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "404": {
            "$ref": "#/components/responses/ManagementError"
          },
          "422": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/vault/services": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "The vault field registry (schema discovery)",
        "description": "Every service and field the project vault can hold: label, where to find the value, whether it is secret, whether it may ship in a browser bundle, and its .env name. Identical for every project \u2014 it describes the SHAPE of the vault, never its contents \u2014 so ANY VALID TOKEN MAY READ IT: this endpoint needs neither can_read_vault nor any other scope, and cannot 403. Currently 18 services and 87 fields. Read it before guessing a field name.",
        "operationId": "listVaultServices",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The field registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VaultServiceRegistry"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/vault/projects": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "Projects with vault metadata",
        "description": "Projects this token can see, each with its identifiers and which services are configured. Requires `can_read_vault`. Paginated: default 20, max 50.",
        "operationId": "listVaultProjects",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
            "description": "Public Management API (fh_pat_ access token)"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Matches name, slug or app identifier."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            },
            "description": "Clamped to 50 rather than rejected."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated project summaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectVaultSummary"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "message": {
                      "$ref": "#/components/schemas/PaginationMessage"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ManagementError"
          },
          "403": {
            "$ref": "#/components/responses/ManagementError"
          },
          "429": {
            "$ref": "#/components/responses/ManagementError"
          }
        }
      }
    },
    "/projects/{project}/vault": {
      "get": {
        "tags": [
          "Management API"
        ],
        "summary": "One project's vault, without secret values",
        "description": "Metadata, links, the non-secret config per service, and `has` presence flags saying which credentials a reveal would return. Requires `can_read_vault`. No secret VALUE appears in this response.",
        "operationId": "showProjectVault",
        "servers": [
          {
            "url": "https://fileshub.zaions.com/api/public/v1",
[...]
